<!doctype html>
<html lang="zxx"> 
 <head> 
  <meta charset="utf-8"> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
  <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"> 
  <link href="bootstrap/css/gallery-images.css" rel="stylesheet"> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 
  <script src="bootstrap/js/ie-emulation-modes-warning.js"></script> 
  <link href="css/style.min.css?v=1.0.0" rel="stylesheet"> 
  <link href="css/custom.css" rel="stylesheet"> 
 </head> 
 <body> 
  <div class="navbar navbar-default navbar-fixed-top" role="navigation"> 
   <div class="container"> 
    <div class="navbar-header page-scroll"> <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> <a href="index.html"><img class="logo" src="" alt="Logo"></a> 
    </div> 
    <nav class="collapse navbar-collapse navbar-ex1-collapse"> 
     <ul class="nav navbar-nav navbar-right"> 
      <li><a href="/">Strona Główna</a></li> 
      <li><a href="/tariff">Cennik</a></li> 
      <li><a href="/gallery">Galeria</a></li> 
      <li><a href="/contact">Kontakt</a></li> 
      <li><a href="/about">O nas</a></li> 
      <li><a href="/products">Produkty</a></li> 
     </ul> 
    </nav> 
   </div> 
  </div> 
  <div class="page-header"> 
   <div class="container"> 
    <div class="row"> 
     <div class="col-md-12"> 
      <ul class="breadcrumb"> 
       <li><a href="/">Home</a></li> 
       <li>Gallery</li> 
      </ul> 
     </div> 
    </div> 
    <div class="row"> 
     <div class="col-md-12"> 
      <h1>Gallery</h1> 
     </div> 
    </div> 
   </div> 
  </div> 
  <section class="filter-section"> 
   <div class="container"> 
    <div class="row"> 
     <div class="col-sm-12 col-xs-12"> 
      <h1>Galeria prac</h1> 
     </div> 
    </div> 
   </div> 
  </section> 
  <section class="portfolio-section port-col"> 
   <div class="container"> 
    <div class="row"> 
     <div class="seaborgo">  
      <div class="hidden-class"> 
       <div class="hide-number">
        34
       </div> 
       <article> 
        <p>Nasser Al Khater, the chief of the 2022 World Cup organising committee in Qatar, was asked to comment about concerns from the LGBTQ+ community regarding attending the tournament in a country with strict anti-homosexuality laws.</p> 
        <img class="img-thumbnail" src="img\Schaltsymbole_mit_Namen.png" name="34"> 
        <img class="img-thumbnail" src="img\b886835dd2d301969a33441f4c55893e.png" name="34"> 
        <img class="img-thumbnail" src="img\10.jpg" name="34"> 
        <img class="img-thumbnail" src="img\periodic table 3.png" name="34"> 
        <img class="img-thumbnail" src="img\comment_1601329238QjzEq7grUmWdbdHrU2kkAH,w400.jpg" name="34"> 
        <h2>Post Format Image</h2> 
        <hr class="title-underline"> 
        <div class="post-meta"> <span>&lt;<i class="fa fa-arrow-circle-o-right"></i> 34</span> 
         <div class="post-meta"> <span><i class="fa fa-calendar"></i> 2021-12-20</span> 
         </div> 
        </div>
       </article> 
      </div>
      <div class="hidden-class"></div> 
     </div> 
    </div> 
   </div> 
  </section> 
  <script type="text/javascript" src="js/slider.js"></script>  
 </body>
</html>