<!doctype html>
<html lang="zxx"> 
 <head> 
  <style>
  .hidden-class {display: none;}
 </style> 
  <meta charset="utf-8"> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
  <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"> 
  <link href="bootstrap/css/Images.css" rel="stylesheet"> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 
  <link href="bootstrap/css/ie10-viewport-bug-workaround.css" rel="stylesheet"> 
  <link href="css/style.min.css?v=1.0.0" rel="stylesheet"> 
  <link href="css/custom.css" rel="stylesheet"> 
 </head> 
 <body> 
  <div class="page-header"> 
   <div class="container"> 
    <div class="row"> 
     <div class="col-md-12"> 
      <h1>Mr Detailer</h1> 
     </div> 
    </div> 
   </div> 
  </div> 
  <section class="page-section padding-30"> 
   <div class="container"> 
    <div class="row"> 
     <div class="col-md-9 col-md-push-3"> 
      <div class="blog-listing">  
       <div class="hidden-class">
        34
       </div> 
       <article> 
        <p>Nasser Al Khater, the chief of the 2022 World Cup organising committee in Qatar, was asked to comment about concerns from the LGBTQ+ community regarding attending the tournament in a country with strict anti-homosexuality laws.</p> 
        <img class="img-thumbnail" src="img\Schaltsymbole_mit_Namen.png" name="34"> 
        <img class="img-thumbnail" src="img\b886835dd2d301969a33441f4c55893e.png" name="34"> 
        <img class="img-thumbnail" src="img\10.jpg" name="34"> 
        <img class="img-thumbnail" src="img\periodic table 3.png" name="34"> 
        <img class="img-thumbnail" src="img\comment_1601329238QjzEq7grUmWdbdHrU2kkAH,w400.jpg" name="34"> 
        <h2>Post Format Image</h2> 
        <hr class="title-underline"> 
        <div class="post-meta"> <span>&lt;<i class="fa fa-arrow-circle-o-right"></i> 34</span> 
         <div class="post-meta"> <span><i class="fa fa-calendar"></i> 2021-12-20</span> 
         </div> 
        </div>
       </article> 
       <div class="hidden-class"></div> 
       <article> <iframe width="100%" height="250" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/259883503&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe> 
        <h2>Post Format - Audio</h2> 
        <hr class="title-underline"> 
        <p> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet... </p> 
        <div class="post-meta"> <span><i class="fa fa-calendar"></i> Aug 17, 2016 - 6:53</span> <span><i class="fa fa-user"></i> By <a href="#">John Doe</a> </span> <span><i class="fa fa-tag"></i> <a href="#">Duis</a>, <a href="#">News</a> </span> <span><i class="fa fa-comments"></i> <a href="#">12 Comments</a></span> <a href="blog-single-post.html" class="btn btn-xs btn-primary pull-right">Read more...</a> 
        </div> 
       </article> 
      </div> 
     </div> 
     <div class="col-md-3 col-md-pull-9"> 
      <aside class="sidebar"> 
       <div class="widget"> 
       </div> 
       <div class="widget"> 
        <ul class="nav nav-list"> 
         <li><a href="/products"><b class="caret-right"></b> Produkty</a></li> 
         <li><a href="/gallery"><b class="caret-right"></b> Galeria prac</a></li> 
         <li><a href="/tariff"><b class="caret-right"></b> Cennik</a></li> 
         <li><a href="#"><b class="caret-right"></b> Kontakt</a></li> 
         <li><a href="/about"><b class="caret-right"></b> O nas</a></li> 
        </ul> 
       </div> 
       <div class="widget"> 
        <h4 class="sidebar-header">Lokalizacja</h4> <a href="https://www.google.com/maps/place/%C5%BBwirki+i+Wigury+8A,+35-036+Rzesz%C3%B3w/@50.0255245,21.9802352,17z/data=!3m1!4b1!4m5!3m4!1s0x473cfbafdac1e8b9:0x1681bb04cfa05c12!8m2!3d50.0255245!4d21.9824239"/>                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2563.243952471982!2d21.980235215716025!3d50.02552447941898!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473cfbafdac1e8b9%3A0x1681bb04cfa05c12!2s%C5%BBwirki%20i%20Wigury%208A%2C%2035-036%20Rzesz%C3%B3w!5e0!3m2!1sde!2spl!4v1641982791636!5m2!1sde!2spl" width="250" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
       </div> 
      </aside> 
     </div> 
    </div> 
   </div> 
  </section> 
  <script type="text/javascript" src="js/slider.js"></script> 
  <script src="http://localhost:35729/livereload.js"></script>  
 </body>
</html>